span.time {
    color: gray;
}

li {
    padding: 2px;
    margin: 2px;
}

li.my {
    background-color: lightgreen;
}

#messages_list{
    margin: 15px;
}

li.theirs {
   background-color: lightblue;
}

li.theirs span.time {
}

a.control {
    cursor: pointer;
}

#remove_btn {
    position: relative;
    left: -18px;
    cursor: pointer;
}