span.time {
    color: gray;
}

li.my {
  background-color: aquamarine;
    border: 1px darkorchid solid;

}

#messages_list{
 margin: 15px;
}

li.theirs {
   background-color: cornflowerblue;
    border: 1px midnightblue solid;
}

li.theirs span.time {
    color: wheat;
}