span.time {
    color: gray;
}

li {
    padding: 2px;
    margin: 2px;
}

li.my {
    background-color: #90ee90;
}

li.my:hover {
    background-color: #7fce7f;
}

#messages_list{
    margin: 15px;
}

li.theirs {
   background-color: #99efff;
}

li.theirs:hover {
    background-color: #83ccda;
}

li.theirs span.time {
}

a.control {
    cursor: pointer;
    visibility: hidden;
}

li:hover a.control {
    visibility: visible;
}

#remove_btn {
    position: relative;
    left: -19px;
    top: 2px;
    cursor: pointer;
}

#message_fld:focus{
    border: green 1px solid;
}

.quote {
 background-color: bisque;
}